name: iOS CI

on:
  push:
    branches: [development]
  pull_request:
    branches: [development]
        
jobs:
  tests:
    runs-on: macos-latest
        
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.2
          
      - name: Install Bundler
        run: gem install bundler

      - name: Install dependencies
        run: bundle install

      - name: Select Xcode version
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: latest-stable

      - name: Run tests with Fastlane
        run: bundle exec fastlane tests

